

body.homepage {
  background-color: grey;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vw;
fit-container: cover;
text-align: center;
}

header {
  background-color: blue;
  max-width: 15%;
  text-align: center;
  margin-left: 10%;
  margin-top: 20%%;

}

div.homepage {
  background-image: url("profilepic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: auto;
}

div.gotopage {
  margin-top: 50%;
  background-color: yellow;
}

div.container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;

  padding: 50;
  width: 75%;
  /*
  min-height: 1000px;
  */

  border-style: solid;
  border-size: 10px;

}


div.leftbox {
  float: left;
  padding: 5px;

  width: 20%;
  min-height: 500px;

  border-style: solid;
  border-size: 10px;
  background-color: green;
}

div.middlebox {
  float: left;
  padding: 5px;

  width: 40%;
  min-height: 500px;
  border-style: solid;
  border-size: 10px;
  background-color: black;
}

div.rightbox {
  float: left;
  padding: 5px;
  min-height: 400px;
  width: 35%;
  border-style: solid;
  border-size: 10px;
  background-image: url("profilepic1.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.about {
  clear: both;
}

footer {

  margin-top: 95%;
}

footer a:hover {

  background-color:#ddd;
  color: black;
}
